* {
  box-sizing: border-box;
}
:root {
  --mainColor--: #2196f3;
}
body {
  padding: 0;
  margin: 0;
  background-color: #ddd;
}

.game {
  height: 100vh;
  background-color: #5c595914;
}

.game-name {
  text-align: center;
  background-color: #607d8b;
  padding: 5px 0 8px;
  color: white;
  font-size: 38px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1.2px;
  box-shadow: 0 0 7px #605555;
  z-index: 100;
  position: relative;
}

.content {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  padding: 20px 5px 0;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin: -4px 20% 0;
  border-radius: 5px;
  box-shadow: 0 0 4px #009688;
  z-index: 2;
  position: relative;
}
#lvlselect {
  padding: 11px;
  font-size: 18px;
  font-weight: bolder;
  color: #673ab7;
  border-block-color: initial;
}
.massege {
  margin: 5px 0;
  background-color: #fff;
  padding: 4px;
  border-radius: 5px;
  width: 96%;
  text-align: center;
}

.lvl {
  padding: 1px 5px;
  background-color: var(--mainColor--);
  color: white;
  border-radius: 2px;
  font-weight: bold;
}

.seconds {
  padding: 1px 5px;
  background-color: var(--mainColor--);
  color: white;
  border-radius: 2px;
  font-weight: bold;
}

.start-playing-btn {
  background-color: #c89c16;
  border-radius: 18px;
  cursor: pointer;
  padding: 5px 20px 8px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: white;
  font-style: italic;
  letter-spacing: 1.5px;
  box-shadow: 0 0 7px #000000;
  margin-bottom: 20px;

  position: relative;
  animation: pulse 2s infinite alternate ease-in-out;
  transition: 0.3s;
}

.start-playing-btn:hover {
  padding: 10px 30px;
}
@keyframes pulse {
  0% {
    background-color: #673ab7;
  }

  100% {
    background-color: #e91e63;
  }
}

.word {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 33px;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: lighter;
  border-bottom: 2px solid #564f4f;
  user-select: none;
}

#user-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: navajowhite;
  outline: 1px auto #607d8b;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1038c2;
  caret-color: #607d8b;
}
#user-input:focus {
  outline: none;
}

.upcoming-word {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: lighter;
  border-bottom: 2px solid #564f4f;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.upcoming-word .upComingWord {
  background-color: var(--mainColor--);
  padding: 5px 10px;
  margin: 5px;
  width: fit-content;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  font-style: normal;
}
.control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 5px 18px;
  border-radius: 5px;
}

.time .time-left-span {
  background-color: #607d8b;
  border-radius: 2px;
  padding: 2px;
  font-weight: bold;
}

.score .got {
}

.score .total {
}

.finish {
  text-align: center;
  display: inline-block;
  flex: 1;
  width: 100%;
}
.gameOver {
  background-color: #ffffff;
  color: #720c0c;
  font-size: 25px;
  padding: 20px;
  border-radius: 3px;
  font-weight: bolder;
  display: inline-block;
  margin: 20px auto;
}
.congratolation {
  background-color: #ffffff;
  color: #524d0b;
  font-size: 35px;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 3px;
  font-weight: bolder;
  display: inline-block;
  margin: 20px auto;
  letter-spacing: 10.2px;
  border-bottom: 2px solid #9a6a00;
}
